.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}
.activeFilter {
    background-color: aquamarine;
}
.isDone {
    opacity: 0.5;
}

.border {
    border-style: double;
    border-color: midnightblue;
    border-radius: 16px;
    padding: 19px;
}