.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}
.activeFilter {
    background-color: aquamarine;
}
.border {
    border-width: 5px;
    border-style: outset;
    border-color: #3333e7;
    border-radius: 15px;
    padding: 20px;
    background-color: #5092d3;
}

.buttons {
    color: white;
}